---
---

<section
  id="home"
  class="min-h-screen flex items-center"
>
  <div class="max-w-6xl mx-auto px-6 grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

    <!-- Texto -->
    <div>
      <h1 class="text-5xl md:text-6xl font-heading tracking-tight">
        Desarrollador Full Stack
      </h1>

      <p class="mt-6 text-lg text-muted max-w-xl">
        Enfocado en productos web rápidos, escalables y bien diseñados.
      </p>

      <div class="mt-8 flex gap-4">
        <a
          href="#projects"
          class="font-heading tracking-wide inline-flex items-center justify-center rounded-lg bg-accent px-6 py-3 text-sm font-semibold text-white hover:-translate-y-0.5 hover:opacity-90 active:translate-y-0"
        >
          Ver proyectos
        </a>

        <a
          href="#contact"
          class="font-heading tracking-wide inline-flex items-center justify-center rounded-lg bg-accent px-6 py-3 text-sm font-semibold text-white hover:-translate-y-0.5 hover:opacity-90 active:translate-y-0"
        >
          Contactar
        </a>
      </div>
    </div>

    <!-- Visual -->
    <div class="hidden md:flex justify-center">
      <div class="h-64 w-65 rounded-full flex items-center justify-center">
        <img src="/projects/foto-perfil.png" alt="Foto perfil" />
      </div>
    </div>

  </div>
</section>
